<h1>World-Net</h1>
<p>
	Če še niste član našega socialnega omrežja,to lahko storite s klikom na spodnji gumb.  
</p>
 <%= link_to "Registriraj se!", registration_path, :class => "signup_button round" %>
 